{% extends "::base_chat.html.twig" %}
{% block body %}	
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="tab-content h-100" role="tablist">

            <div class="tab-pane fade h-100 show active" id="tab-content-dialogs" role="tabpanel">
                <div class="d-flex flex-column h-100">

                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6">
                            <!-- Title -->
                            <h2 class="font-bold mb-6">Chats</h2>
                            <!-- Title -->

                            <!-- Chats -->
                            <nav class="nav d-block list-discussions-js mb-n6">
                                <!-- Chat link -->
                                <a class="text-reset nav-link p-0 mb-6" href="chat-1.html">
                                    <div class="card card-active-listener">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="avatar mr-5">
                                                    <img class="avatar-img" src="{{ asset('bundles/app/chat/images/avatars/11.jpg') }}" alt="Bootstrap Themes">
                                                </div>                                                
                                                <div class="media-body overflow-hidden">
                                                    <div class="d-flex align-items-center mb-1">
                                                        <h6 class="text-truncate mb-0 mr-auto">{{ nombre_chat }}</h6>
                                                        <p class="small text-muted text-nowrap ml-4">10:42 am</p><!-- aqui deberia ir la hora del ultimo mensaje -->
                                                    </div>
                                                    {# <div class="text-truncate">Anna Bridges: Hey, Maher! How are you? The weather is great isn't it?</div> #} {# ira ? por ahora no #}
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="badge badge-circle badge-primary badge-border-light badge-top-right">
                                            <span>3</span> {# los numeros de chat sin leer, es un count #}
                                        </div>                                        
                                    </div>
                                </a>
                                <!-- Chat link -->
                            </nav>
                            <!-- Chats -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar -->
    <!-- Main Content -->
    <div class="main main-visible" data-mobile-height="">
        <!-- Chat -->
        <div id="chat-1" class="chat"> {# el id debe cambiar por el id del chat #}
            <!-- Chat: body -->
            <div class="chat-body">
                <!-- Chat: Header -->
                <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                    <div class="container-xxl">
                        <div class="row align-items-center">
                            <!-- Close chat(mobile) -->
                            <div class="col-3 d-xl-none">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a class="text-muted px-0" href="#" data-chat="open">
                                            <i class="icon-md fe-chevron-left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Chat photo -->
                            <div class="col-6 col-xl-6">
                                <div class="media text-center text-xl-left">
                                    <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                                        <img src="{{ asset('bundles/app/chat/images/avatars/11.jpg') }}" class="avatar-img" alt="">
                                    </div>

                                    <div class="media-body align-self-center text-truncate">
                                        <h6 class="text-truncate mb-n1">{{ nombre_chat }}</h6>
                                        {# <small class="text-muted">35 members</small> #}
                                        {# <small class="text-muted mx-2"> • </small> #}
                                        {# <small class="text-muted">HTML, CSS, and Javascript Help</small> #}
                                    </div>
                                </div>
                            </div>
                        </div><!-- .row -->

                    </div>
                </div>
                <!-- Chat: Header -->
                <!-- Chat: Content-->
                <div class="chat-content px-lg-8">
                    <div class="container-xxl py-6 py-lg-10">
                    	<!-- Message -->
                        <div class="message">
                            <!-- Avatar -->
                            <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-1-user-profile">
                                <img class="avatar-img" src="assets/images/avatars/7.jpg" alt="">
                            </a>

                            <!-- Message: body -->
                            <div class="message-body">

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center">

                                        <!-- Message: content -->
                                        <div class="message-content bg-light">
                                            <h6 class="mb-2">William Wright</h6>
                                            <div>Yeah, I'm going to meet a friend of mine at the department store. I have to buy some presents for my parents.</div>

                                            <div class="mt-1">
                                                <small class="opacity-65">8 mins ago</small>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                            </div>
                            <!-- Message: Body -->
                        </div>
                        <!-- Message -->

                        <!-- Message -->
                        <div class="message message-right">
                            <!-- Avatar -->
                            <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                <img class="avatar-img" src="assets/images/avatars/12.jpg" alt="">
                            </div>

                            <!-- Message: body -->
                            <div class="message-body">

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center justify-content-end">

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 mr-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                        <!-- Message: content -->
                                        <div class="message-content bg-primary text-white">
                                            <div>Yeah, I'm going to meet a friend of mine at the department store. I have to buy some presents for my parents.</div>

                                            <div class="mt-1">
                                                <small class="opacity-65">8 mins ago</small>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center justify-content-end">

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 mr-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                        <!-- Message: content -->
                                        <div class="message-content bg-primary text-white">
                                            <div class="media">
                                                <a href="#" class="icon-shape mr-5">
                                                    <i class="fe-paperclip"></i>
                                                </a>
                                                <div class="media-body overflow-hidden flex-fill">
                                                    <a href="#" class="d-block text-truncate font-medium text-reset">bootstrap.min.js</a>
                                                    <ul class="list-inline small mb-0">
                                                        <li class="list-inline-item">
                                                            <span class="t">79.2 KB</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span class="text-uppercase">js</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                            </div>
                            <!-- Message: body -->
                        </div>
                        <!-- Message -->

                        <!-- Divider -->
                        <div class="message-divider my-9 mx-lg-5">
                            <div class="row align-items-center">

                                <div class="col">
                                    <hr>
                                </div>

                                <div class="col-auto">
                                    <small class="text-muted">Today</small>
                                </div>

                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <!-- Divider -->

                        <!-- Message -->
                        <div class="message">
                            <!-- Avatar -->
                            <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-1-user-profile">
                                <img class="avatar-img" src="assets/images/avatars/7.jpg" alt="">
                            </a>

                            <!-- Message: body -->
                            <div class="message-body">

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center">

                                        <!-- Message: content -->
                                        <div class="message-content bg-light w-100">
                                            <h6 class="mb-2">William Wright shared 3 photos:</h6>
                                            <div class="form-row py-3">
                                                <div class="col">
                                                    <img class="img-fluid rounded" src="https://themes.2the.me/Boomerang/1.2/assets/images/team/1.jpg" data-action="zoom" alt="">
                                                </div>
                                                <div class="col">
                                                    <img class="img-fluid rounded" src="https://themes.2the.me/Boomerang/1.2/assets/images/team/2.jpg" data-action="zoom" alt="">
                                                </div>
                                                <div class="col">
                                                    <img class="img-fluid rounded" src="https://themes.2the.me/Boomerang/1.2/assets/images/team/3.jpg" data-action="zoom" alt="">
                                                </div>
                                            </div>

                                            <div class="mt-1">
                                                <small class="opacity-65">8 mins ago</small>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center">

                                        <!-- Message: content -->
                                        <div class="message-content bg-light">
                                            <div>Yeah, I'm going to meet a friend of mine at the department store. I have to buy some presents for my parents.</div>

                                            <div class="mt-1">
                                                <small class="opacity-65">8 mins ago</small>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                            </div>
                            <!-- Message: body -->
                        </div>
                        <!-- Message -->

                        <!-- Message -->
                        <div class="message message-right">
                            <!-- Avatar -->
                            <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                <img class="avatar-img" src="assets/images/avatars/12.jpg" alt="">
                            </div>

                            <!-- Message: body -->
                            <div class="message-body">

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center justify-content-end">

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 mr-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                        <!-- Message: content -->
                                        <div class="message-content bg-primary text-white">
                                            <div>I'm going to meet a friend of mine at the department store. Yeah, I have to buy some presents for my parents.</div>

                                            <div class="mt-1">
                                                <small class="opacity-65">8 mins ago</small>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                            </div>
                            <!-- Message: body -->
                        </div>
                        <!-- Message -->

                        <!-- Message -->
                        <div class="message">
                            <!-- Avatar -->
                            <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-1-user-profile">
                                <img class="avatar-img" src="assets/images/avatars/9.jpg" alt="">
                            </a>

                            <!-- Message: body -->
                            <div class="message-body">

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center">

                                        <!-- Message: content -->
                                        <div class="message-content bg-light">
                                            <h6 class="mb-2">Matthew Wiggins</h6>
                                            <div>I'm going to meet a friend of mine at the department store. Yeah, I have to buy some presents for my parents.</div>

                                            <div class="mt-1">
                                                <small class="opacity-65">8 mins ago</small>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                            </div>
                            <!-- Message: body -->
                        </div>
                        <!-- Message -->

                        <!-- Message -->
                        <div class="message message-right">
                            <!-- Avatar -->
                            <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                <img class="avatar-img" src="assets/images/avatars/12.jpg" alt="">
                            </div>

                            <!-- Message: body -->
                            <div class="message-body">

                                <!-- Message: row -->
                                <div class="message-row">
                                    <div class="d-flex align-items-center justify-content-end">

                                        <!-- Message: dropdown -->
                                        <div class="dropdown">
                                            <a class="text-muted opacity-60 mr-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Edit <span class="ml-auto fe-edit-3"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Share <span class="ml-auto fe-share-2"></span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Delete <span class="ml-auto fe-trash-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Message: dropdown -->

                                        <!-- Message: content -->
                                        <div class="message-content bg-primary text-white">
                                            <div>Yeah, I'm going to meet a friend of mine at the department store. I have to buy some presents for my parents.</div>

                                            <div class="mt-1">
                                                <small class="opacity-65">8 mins ago</small>
                                            </div>
                                        </div>
                                        <!-- Message: content -->

                                    </div>
                                </div>
                                <!-- Message: row -->

                            </div>
                            <!-- Message: body -->
                        </div>
                        <!-- Message -->
                    </div>
                    <!-- Scroll to end -->
                    <div class="end-of-chat"></div>
                </div>
                <!-- Chat: Content -->

                <!-- Chat: Footer -->
                <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                    <div class="container-xxl">

                        <form id="chat-id-1-form" action="assets/php/upload.php" data-emoji-form="">
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <div class="input-group">
                                        <!-- Textarea -->
                                        <textarea id="chat-id-1-input" class="form-control bg-transparent border-0" placeholder="Escribe tu mensaje..." rows="1" data-emoji-input="" data-autosize="true"></textarea>
                                        <!-- Emoji button -->
                                        <div class="input-group-append">
                                            <button class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0" type="button" data-emoji-btn="">
                                                <img src="{{ asset('bundles/app/chat/images/smile.svg') }}" data-inject-svg="" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <div class="col-auto">
                                    <button class="btn btn-ico btn-primary rounded-circle" type="submit">
                                        <span class="fe-send"></span>
                                    </button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>
                <!-- Chat: Footer -->
            </div>
            <!-- Chat: body -->
        </div>
        <!-- Chat -->

    </div>
    <!-- Main Content -->
{% endblock %}